<div class="content">

    <div id="resolve">
        <label for="help">Properties Listed on the Lbry SDK:</label>
        <div id="help">
            <pre><code class="language-json">{{{helpHTML.value}}}</code></pre>
        </div>
        <label for="">Execute Command:</label>
        <div class="column column-100">

            <div class="row">
                <input class="column column-40" v-model="commandName" />
                <input class="column column-40" v-model="commandParams" />
                <button class="column column-20" v-on:click="runCommand">Execute</button>
            </div>
        </div>
        <label for="">Command Result:</label>
        <div id="claim">
            <pre><code class="language-json">{{{execHTML.value}}}</code></pre>
        </div>
    </div>
</div>